@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f10808;
  --foreground: #f80b0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ee0606;
    --foreground: #0c0101;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
